@charset "UTF-8";

//.dialog {
//  position: fixed;
//  z-index: 101;
//  top: 50%;
//  left: 50%;
//  @include point(font-size,24);
//  @include point(width,270);
//  @include box(padding,25,0);
//  @include box(margin,-90,0,0,-145);
//  background: rgba(0,0,0,0.8);
//  @include point(border-radius,8);
//  text-align: center;
//  line-height: 1.65em;
//  color: #fff;
//  opacity: 1;
//  -webkie-transition: all 0.2s;
//  transition: all 0.2s; 
//  &:before {
//      display: block;
//      content: '';
//  }
//  &.text:before { display: none;}
//  &.hide { opacity: 0; }
//}


.dialogBg { position: fixed; z-index: 100000; width:100%; height: 100%; top: 0; left: 0; background: transparent;}
.dialog {
    @include point(width,270);
    @include point(height,124);
    @include point(font-size,28);
    position:fixed;
    top: 50%;
    left: 50%;
    z-index: 99;
    @include box(margin,-82,0,0,-135);
    @include box(padding,20,0);
    background-color: rgba(0,0,0,0.8);
    @include point(border-radius,10);
    text-align: center;
    color: #fff;
    opacity: 1;
    transition: all 0.2s;
    &:before {
        @include icons;
        @include point(font-size,48);
        @include point(line-height,60);
        @include point(padding-top,10);
    }
    &.false:before { content: $iconFalse; }
    &.true:before { content: $iconTrue; }
    &.text:before,&.sort:before { display:none; }
    &.text,&.sort {
        @include point(width,492);
        @include box(margin,-56,0,0,-246);
        @include point(padding-top,16);
        height:auto;
    }
    &.sort {
        @include point(width,270);
        @include point(margin-left,-135);
    }
    
    &.hide {
        opacity: 0;
    }
}